.CJJ-Table .clearfix {
    clear: both;
}

.CJJ-Table .pagenumberBox {
    float: left;
}

.CJJ-Table .pagenumberBox li {
    float: left;
    padding: 4px 9px 4px 9px;
    border: 1px solid #d9d9d9;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    color: #333;
}

.CJJ-Table .pagenumberBox li:hover {
    background: #ff6666 !important;
    padding: 5px 10px 5px 10px !important;
    color: white !important;
    border: none !important;
}

.CJJ-Table .pagenumberBoxLi {
    background: #ff6666 !important;
    padding: 5px 10px 5px 10px !important;
    color: white !important;
    border: none !important;
}

.CJJ-Table tfoot span {
    padding: 4px 15px 4px 15px;
    border: 1px solid #d9d9d9;
    color: #333;
}

.CJJ-Table tfoot span:hover {
    background: #ff6666 !important;
    padding: 5px 16px 5px 16px !important;
    color: white !important;
    border: none !important;
}

.CJJ-Table .tfootRight input {
    width: 65px;
    height: 31px;
    border: 1px solid #d9d9d9;
    color: #333;
    text-align: center;
}

.CJJ-Table .tfootRight button {
    width: 60px;
    height: 31px;
    border: 1px solid #d9d9d9;
    color: #333;
    margin-left: 10px;
    cursor: pointer;
}

.CJJ-Table .tfootRight button:hover {
    background: #ff6666 !important;
    height: 31px;
    color: white !important;
    border: none !important;
}
.CJJ-Table {
    width: 95%;
    margin-left: 20px;
    margin-bottom: 20px;
}

.CJJ-Table thead{
    border-bottom: 1px solid #ccc;
    background: #42A3E7;
}

.CJJ-Table thead th{
    font-size: 14px;
    line-height: 40px;
}

.CJJ-Table tbody td{
    text-align: center;
}

.CJJ-Table tbody tr{
    border-bottom: 1px dashed #d9d9d9;
}

.CJJ-Table tbody tr:hover{
    background-color: #d5d5d5;
}
.CJJ-Table tbody tr:nth-child(even) {
    background-color: #CFEEE9;
}
.CJJ-Table tfoot select{
    width: 80px;
    padding-left: 10px;
    height: 31px;
    border: 1px solid #d9d9d9;
    color: #333;
}
.CJJ-Table tfoot td{
	padding-top: 10px;
}
.new_productBox{
	height: 35px;
}
#page3{
	min-width: 900px;
}
#page3 .modal-footer{
	text-align: center;
}

#page3_table{
	width: 100%;
}
#page3_table tr th{
	text-align: center;
}
.inputstyle{
	background-color: #94A6B0;
	padding-left: 5px;
}
#myDeleteModal.col-xs-push-2{
	left: 16.66666667%;
}
#page2_table2 .new_productBox .operate span{
	margin-right: 5px;
}

.mybuttons {
	margin-bottom: 10px;
	height: 30px;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: 5px;
	text-align: center;
}
#page3_TP,#page3_TP2{
    border: 1px solid black;
    top: 17px;
    position: absolute;
}

.modalwidth{
	position: relative;
	width: 96%;
    left: 2%;
	padding-top: 4%;
	margin: 0;
}
.myModalErrorInfo{
	position: absolute;
    top: 6px;
    width: 30%;
    left: 35%;
    text-align: center;
    color: red;
}

#page3_targetProduct{
    background-color: #e9f5f0;
    height: 30px;
    margin-right: 5px;
}
#page3_add{
	margin-left: 20px;
}
.eachedit,.eachcopy,.eachpreview{
	border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px 7px;
}
#myEditEnsureDiv{
	position: absolute;
    top: 160px;
    padding-right: 0px;
    display: none;
    max-height: 350px;
    overflow: auto;
}
#myEditEnsureDiv .mybody{
	font-size: 16px;
}
#productName,#tptochipmodel{
	text-align: center;
	font-size: 18px;
	color: red;
}
.grouptitle{
	display: inherit;
	font-size: 20px;
	/*color: brown;*/
	/*color: chocolate;*/
	color: firebrick;
	/*color: orangered;*/
	/*color: maroon;*/
	padding-bottom: 5px;
}
.eachpartbox{
	position: relative;
	width: 100%;
	margin-top: 5px;
	clear: both;
	font-size: 18px;
}

.auto_hidden {
	width: 150px;
	position: absolute;
	text-align: left;
	display: none;
}

.auto_show {
	width: 150px;
	position: absolute;
	text-align: left;
	z-index: 9999;
	/* 设置对象的层叠顺序 */
	display: block;
	max-height: 200px;
	background-color: #94A6B0;
	overflow: auto;
}

.auto_onmouseover {
	color: #ffffff;
	background-color: highlight;
	text-align: left;
	width: 100%;
	padding-left: 0px;
}

.auto_onmouseout {
	color: #000000;
	width: 100%;
	background-color: #94A6B0;
	padding-left: 0px;
}

#myPreviewModal{
	width: 90%;
    margin: 0 auto;
}
#myPreviewModal .mybody textarea{
	overflow:scroll;
    background-color: palegoldenrod;
    padding-left: 10px;
}

.modalwidth{
	position: relative;
	width: 98%;
	padding-left: 2%;
	padding-top: 4%;
	margin: 0;
}
.myheader{
	padding-bottom: 5px;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #66AFE9;
}
.mybody{
	padding-bottom: 0px;
}
.myfooter{
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #66AFE9;
    padding: 5px;
}
#myPreviewBodyOne{
	width: 100%;
    margin-bottom: 10px;
    padding-top: 3px;
    min-height: 350px;
    font-size: 16px;
    background-color: aliceblue;
}
#reviewTpName{
	text-align: center;
    font-size: 20px;
    margin-bottom: 3px;
    background-color: aliceblue;
}
