#page8{
	min-width: 900px;
}
.page8_tables{
	margin-top: 10px;
	text-align: center;
}
.page8_boxes{
	display: none;
	max-height: 425px;
	overflow: auto;
}
.page8_tabs{
    /*border-radius: 5px;
    padding: 2px 4px;
    background-color: buttonface;*/
   	display: inline-table;
	padding: 0px 5px;
	border-radius: 6px;
    background-color: buttonface;
}
.page8_tabs:nth-child(1){
	background-color: darkturquoise;
}

.page8_boxes button {
    font-size: 16px;
    /*margin-bottom: 15px;*/
}
.sequence,.sequence_value{
	width: 12.5%;
}
.sequence,.sequence select{
	background-color: moccasin;
}
.sequence_value{
	color: black;
	font-size: 13px;
    background-color: aqua;
}
.sequence_select{
	text-align: center;
}
#paged8_inputConfigClose{
	position: absolute;
	right: 10px;
	
    text-align: center;
}

#paged8_tableSort{
	width: 100%;
	margin-top: 35px;
	/*min-width: 960px;*/
}
#paged8_dialog_box1{
	margin: auto;
    position: absolute;
    width: 96%;
    z-index: 1051;
    height: 500px;
    /*top: 0px;*/
    font-size: 18px;
    text-align: center;
}
#paged8_myConfigBorder{
	width: 90%;
	margin: auto;
}
.modal-backdrop.in{
	opacity: 0.2;
    margin: 5px;
    border-radius: 15px;
}
#page8Modal{
	margin-top: 100px;
}
#page8ModalDiv{
	background-color: lightblue;
}
#page8ModeClose{
	display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 5px;
    height: 33px;
    width: 63px;
    background-color: ghostwhite;
}
#page8Container{
	display: block;
    width: 60%;
    height: 35px;
    margin: auto;
    font-size: 22px;
    margin-bottom: 14px;
    margin-top: 5px;
}
#page8Submit{
	display: block;
    font-size: 16px;
    padding: 5px 15px;
    margin: auto;
    background-color: aliceblue;
}
#chipMangInfo{
	text-align: center;
	color: red;
	margin-top: 2%;
	margin-left: 20%;
	font-size: 20px;
}
.page8_tables thead{
	 background: #42A3E7;
}
.page8_tables thead th{
    font-size: 14px;
    line-height: 40px;
}
.page8_tables tbody tr:nth-child(even){
    background-color: #CFEEE9;
}

.page8_tables tbody tr:hover{
    background-color: #d5d5d5;
}

#paged8_tableSort thead th{
	text-align: center;
	background-color: #0091E6;
	color: aliceblue;
}

#page8Modal .myheader{
	border-bottom: 0px solid #e5e5e5;
}
#page8Modal .mybody{
	border-bottom: 0px solid #e5e5e5;
	padding-bottom: 5px;
}
#page8Modal .myfooter{
	border-bottom: 0px solid #e5e5e5;
}

#newClassify{
	display: inline-block;
    position: relative;
    left: 20%;
    font-size: 21px;
}






