/*公共部分*/
*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 {
	font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
html,body {
	width: 100%;
	height: 100%;
	margin: 0;
}
p {
	margin: 0px;
}
li {
	list-style: none;
}

button{
	border: 0;
	margin: 0;
}
body{
    width: 100%;
}

fieldset{padding:.35em .625em .75em;margin:0 2px;border:1px solid silver}

legend{padding:.5em;border:0;width:auto}

td{
	align:center;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-button {
	display: none;
}
::-webkit-scrollbar-track {
	/*background: url("../imagesne.jpg") center;*/
}
::-webkit-scrollbar-thumb {
	padding-left: 2px;
	border-radius: 6px;
	border: solid 2px #A6A6A6;
	background-color: rgba(255, 255, 255, 1);
}

/*当前页部分*/
body{
	background-color: #DDDDDF;
}
.navbar{
	margin-bottom: 0;
	background-color: #0FB3D6;
}
.containerp {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row{
	background-color: #DDDDDF;
}
#homePage{
	display: none;
}

#index_leftdiv{
	height: 826px;
}
#accordion{
	position: absolute;
	height: 826px;
	width: 100%;
}
#homePage a{
	color: black;
	text-decoration: none;
}
#homePage .navbar a{
	color: white;
}
#homePage a:hover{
	color: black;
	text-decoration: none;
}
.leftUl{
	width: 100%;
}
.everyList{
	font-size: 20px;
	padding-bottom: 5px;
}
.everyDiv li{
	margin-left: 30px;
	margin-top: 3px;
	font-size: 18px;
}
.everyDiv li span{
	margin-right: 5px;
	color: #0FB3D6;
}
.everyDiv li a{
	display: inline-table;
}
#tabs ul li{
	margin-bottom: 0px;
}
.everyButton span:nth-child(1){
	margin-right: 5px;
	color: #0FB3D6;
}
#indexUserName{
	margin-right: 10px;
}
