/*公共部分*/
*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
html,body {
	width: 100%;
	height: 100%;
	margin: 0;
}
p {
	margin: 0px;
}
li {
	list-style: none;
}

a {
	text-decoration: none;
}
td{
	margin: 2px;
}
th,tr,select,td{
	text-align: center;
}
button{
	border: 0;
	margin: 0;
}
body{
    width: 100%;
}

fieldset{padding:.35em .625em .75em;margin:0 2px;border:1px solid silver;}

legend{padding:.5em;border:0;width:auto;margin-bottom: 1px;}


::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-button {
	display: none;
}
::-webkit-scrollbar-track {
	/*background: url("../imagesne.jpg") center;*/
}
::-webkit-scrollbar-thumb {
	padding-left: 2px;
	border-radius: 6px;
	border: solid 2px #A6A6A6;
	background-color: rgba(255, 255, 255, 1);
}

/*当前页部分*/

#page8{
	min-width: 900px;
}
.page8_boxes{
	display: none;
}
.page8_tabs:nth-child(1){
	background-color: red;
}

.sequence,.sequence_value{
	width: 12.5%;
}
.inputstyle{
	text-align: center;
}
#paged8_inputConfigClose{
	position: absolute;
	right: 10px;
	
    text-align: center;
}
.page8_tables{
	width: 100%;
}
#paged8_tableSort{
	width: 100%;
	margin-top: 35px;
	/*min-width: 960px;*/
}
#paged8_dialog_box1{
	margin: auto;
    position: absolute;
    width: 96%;
    z-index: 1051;
    height: 500px;
    /*top: 0px;*/
    font-size: 18px;
    text-align: center;
}

.modal-backdrop.in{
	opacity: 0.2;
    /* border: 5px solid red; */
    margin: 5px;
    border-radius: 15px;
}
